<!DOCTYPE html>
<html lang="en">
<head>
  
  <meta http-equiv="content-type" content="text/html; charset=UTF-8"> 

  <title>摩恩网络</title>

  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta name="description" content="">
  <meta name="keywords" content="">
  <meta name="author" content="">

  <!-- Bootstrap Styles -->
  <link href="css/bootstrap.css" rel="stylesheet">
  
  <!-- Styles -->
  <link href="style.css" rel="stylesheet">
  
  <!-- Carousel Slider -->
  <link href="css/owl-carousel.css" rel="stylesheet">
  
  <!-- Flex Slider -->
  <link href="css/flexslider.css" rel="stylesheet">
  
  <!-- CSS Animations -->
  <link href="css/animate.min.css" rel="stylesheet">
  
  <!-- Google Fonts -->
  <link href='http://fonts.useso.com/css?family=PT+Sans:400,400italic,700,700italic' rel='stylesheet' type='text/css'>
  <link href='http://fonts.useso.com/css?family=Lato:400,300,400italic,300italic,700,700italic,900' rel='stylesheet' type='text/css'>
  <link href='http://fonts.useso.com/css?family=Exo:400,300,600,500,400italic,700italic,800,900' rel='stylesheet' type='text/css'>

  <!-- SLIDER ROYAL CSS SETTINGS -->
  <link href="royalslider/royalslider.css" rel="stylesheet">
  <link href="royalslider/skins/default-inverted/rs-default-inverted.css" rel="stylesheet">
  
  <!-- SLIDER REVOLUTION 4.x CSS SETTINGS -->
  <link rel="stylesheet" type="text/css" href="rs-plugin/css/settings.css" media="screen" />
        
  <!-- Support for HTML5 -->
  <!--[if lt IE 9]>
    <script src="//html5shim.googlecode.com/svn/trunk/html5.js"></script>
  <![endif]-->

  <!-- Enable media queries on older bgeneral_rowsers -->
  <!--[if lt IE 9]>
    <script src="js/respond.min.js"></script>  <![endif]-->

    <!-- Switcher Only -->
        <link rel="stylesheet" id="switcher-css" type="text/css" href="switcher/css/switcher.css" media="all" />
    <!-- END Switcher Styles -->
    
    <!-- Demo Examples -->
      
        <link rel="stylesheet" type="text/css" href="switcher/css/red.css" title="red" media="all" /> 
        <link rel="alternate stylesheet" type="text/css" href="dark-style.css" title="dark" media="all" />
    <!-- END Demo Examples -->
    
</head>
<body>

<div class="animationload">
<div class="loader">Loading...</div>
</div>    
    <div id="topbar" class="clearfix">
        <div class="container">
            <div class="col-lg-4 col-md-4 col-sm-4 col-xs-12">
                <div class="social-icons">
                    <span><a data-toggle="tooltip" data-placement="bottom" title="Facebook" href="#"><i class="fa fa-facebook"></i></a></span>
                    <span><a data-toggle="tooltip" data-placement="bottom" title="Google Plus" href="#"><i class="fa fa-google-plus"></i></a></span>
                    <span><a data-toggle="tooltip" data-placement="bottom" title="Twitter" href="#"><i class="fa fa-twitter"></i></a></span>
                    <span><a data-toggle="tooltip" data-placement="bottom" title="Youtube" href="#"><i class="fa fa-youtube"></i></a></span>
                    <span><a data-toggle="tooltip" data-placement="bottom" title="Linkedin" href="#"><i class="fa fa-linkedin"></i></a></span>
                    <span><a data-toggle="tooltip" data-placement="bottom" title="Dribbble" href="#"><i class="fa fa-dribbble"></i></a></span>
                    <span class="last"><a data-toggle="tooltip" data-placement="bottom" title="Skype" href="#"><i class="fa fa-skype"></i></a></span>
                </div><!-- end social icons -->
            </div><!-- end columns -->
            <div class="col-lg-8 col-md-8 col-sm-8 col-xs-12">
                <div class="topmenu">
                    
                    <span class="topbar-cart"><i class="fa fa-globe"></i> <a href="login.html">中文</a> / <a href="login.html">英文</a></span>
                </div><!-- end top menu -->
                <div class="callus">
                    <span class="topbar-email"><i class="fa fa-envelope"></i> <a href="mailto:kefu@omooo.com">kefu@omooo.com</a></span>
                    <span class="topbar-phone"><i class="fa fa-phone"></i> 400-651-5550</span>
                </div><!-- end callus -->
            </div><!-- end columns -->
        </div><!-- end container -->
    </div><!-- end topbar -->
    
      <header id="header-style-1">
        <div class="container">
            <div class="navbar yamm navbar-default">
                <div class="navbar-header">
                    <button type="button" data-toggle="collapse" data-target="#navbar-collapse-1" class="navbar-toggle">
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                    </button>
                    <a href="index.html" class="navbar-brand">&nbsp;</a>
                </div><!-- end navbar-header -->
                
                <div id="navbar-collapse-1" class="navbar-collapse collapse navbar-right">
                    <ul class="nav navbar-nav">
                        <li class="dropdown"><a href="index.html">首页<div class="arrow-up"></div></a>
                        </li><!-- end drop down -->
                        <li class="dropdown"><a href="about_i.html" data-toggle="dropdown" class="dropdown-toggle">关于我们<div class="arrow-up"></div></a>
                            <ul class="dropdown-menu" role="menu">
                                <li><a href="about_i.html">公司简介</a></li>
                                <li><a href="about_i.html">公司大事记</a></li>
                                <li><a href="about_i.html">公司团队</a></li>
                            </ul><!-- end dropdown-menu -->
                        </li><!-- end drop down -->
                        <!-- standard drop down -->
                        <li class="dropdown"><a href="Product_i.html"  class="dropdown-toggle">科研项目<div class="arrow-up"></div></a>
                             <ul class="dropdown-menu" role="menu">
                                <li><a href="Product_i.html">产品中心</a></li>
                                <li><a href="Cass_i.html">科技与创新</a></li>
                                <li><a href="activity_i.html">社区活动</a></li>
                            </ul><!-- end dropdown-menu -->
                        </li><!-- end standard drop down -->
                        <li class="dropdown"><a href="News_list.html" data-toggle="dropdown" class="dropdown-toggle">新闻中心 <div class="arrow-up"></div></a>
                            <ul class="dropdown-menu" role="menu">
                                <li><a href="News_list.html">公司新闻</a></li>
                                <li><a href="News_list.html">行业新闻</a></li>
                            </ul><!-- end dropdown-menu -->
                        </li><!-- end standard drop down -->
                         <li class="dropdown"><a href="Solutions_i.html" data-toggle="dropdown" class="dropdown-toggle">解决方案<div class="arrow-up"></div></a>
                            <ul class="dropdown-menu" role="menu">
                                <li><a href="Solutions_i.html">web解决方案</a></li>
                                <li><a href="Solutions_i.html">SEO解决方案</a></li>
                                <li><a href="Solutions_i.html">服务器安全</a></li>
                                <li><a href="Solutions_Show.html">解决方案详细页</a></li>
                            </ul><!-- end dropdown-menu -->
                        </li><!-- end standard drop down -->
                        <!-- standard drop down -->
                        <li><a href="contact.html">联系我们</a></li>
                    </ul><!-- end navbar-nav -->
                </div><!-- #navbar-collapse-1 -->
            </div><!-- end navbar yamm navbar-default -->
        </div><!-- end container -->
    </header><!-- end header-style-1 -->   
    
    <section class="post-wrapper-top jt-shadow clearfix">
        <div class="container">
            <div class="col-lg-12">
                <h2>关于公司</h2>
                <ul class="breadcrumb pull-right">
                    <li><i class="fa fa-arrow-circle-left"></i>&nbsp;<a href="index.html">Home</a>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</li>
                </ul>
            </div>
        </div>
    </section><!-- end post-wrapper-top -->

    <div class="blog-wrapper">
        <div class="container">
            <div id="aboutslider" class="flexslider clearfix">
                <ul class="slides">
                    <li><img src="demos/about_slider_01.jpg" class="img-responsive" alt=""></li>
                    <li><img src="demos/about_slider_02.jpg" class="img-responsive" alt=""></li>
                </ul><!-- end slides -->
            </div><!-- end slider -->
                <div class="slider-shadow"></div>
        </div><!-- end container -->
    </div><!-- end postwrapper -->

<section class="white-wrapper">
        <div class="container">
            <div class="col-lg-6 col-md-6 col-sm-6 col-xs-12">
                <div class="widget">
                    <h3>WHY WE SUGGEST JOLYANY?</h3>
                    <div class="about_tabbed">     
                        <div class="panel-group" id="accordion2">
                            <div class="panel panel-default">
                                <div class="panel-heading active">
                                    <h4 class="panel-title">
                                        <a class="accordion-toggle" data-toggle="collapse" data-parent="#accordion2" href="#collapseOne">Our Mission</a>
                                    </h4>
                                </div><!-- end panel-heading -->
                                <div id="collapseOne" class="panel-collapse collapse in">
                                    <div class="panel-body">
                                        <p>Nam sem ligula, fringilla id pulvinar eu, laoreet at ligula. Donec blandit ligula a cursus tempor. Ut sit amet nibh nulla. Quisque nec augue eget mi sodales posuere. Integer vitae vehicula mi. Mauris orci velit, tempor ut sem vel, placerat mattis orci. Curabitur lacinia ac sapien ullamcorper fermentum. Nunc interdum, dui eget facilisis convallis.</p>
                                    </div><!-- end panel-body -->
                                </div><!-- end collapseOne -->
                            </div><!-- end panel -->
                            <div class="panel panel-default">
                                <div class="panel-heading">
                                    <h4 class="panel-title">
                                        <a class="accordion-toggle" data-toggle="collapse" data-parent="#accordion2" href="#collapseTwo">Our Vision</a>
                                    </h4>
                                </div><!-- end panel-heading -->
                                <div id="collapseTwo" class="panel-collapse collapse">
                                    <div class="panel-body">
                                        <p>Nam sem ligula, fringilla id pulvinar eu, laoreet at ligula. Donec blandit ligula a cursus tempor. Ut sit amet nibh nulla. Quisque nec augue eget mi sodales posuere. Integer vitae vehicula mi. Mauris orci velit, tempor ut sem vel, placerat mattis orci. Curabitur lacinia ac sapien ullamcorper fermentum. Nunc interdum, dui eget facilisis convallis.</p>
                                    </div><!-- end panel-body -->
                                </div><!-- end collapseOne -->
                            </div><!-- end panel -->
                            <div class="panel panel-default">
                                <div class="panel-heading">
                                    <h4 class="panel-title">
                                        <a class="accordion-toggle" data-toggle="collapse" data-parent="#accordion2" href="#collapseThree">Our Goal</a>
                                    </h4>
                                </div><!-- end panel-heading -->
                                <div id="collapseThree" class="panel-collapse collapse">
                                    <div class="panel-body">
                                        <p>Nam sem ligula, fringilla id pulvinar eu, laoreet at ligula. Donec blandit ligula a cursus tempor. Ut sit amet nibh nulla. Quisque nec augue eget mi sodales posuere. Integer vitae vehicula mi. Mauris orci velit, tempor ut sem vel, placerat mattis orci. Curabitur lacinia ac sapien ullamcorper fermentum. Nunc interdum, dui eget facilisis convallis.</p>
                                    </div><!-- end panel-body -->
                                </div><!-- end collapseOne -->
                            </div><!-- end panel -->
                        </div><!-- end panel-group -->
                    </div><!-- end about tabbed -->
                </div><!-- end widget -->
            </div><!-- end col-lg-6 -->
            
            <div class="col-lg-6 col-md-6 col-sm-6 col-xs-12">
                <div class="widget">
                    <h3>CLIENTS FEEDBACK’S</h3>
                    <div id="owl-testimonial-widget" class="owl-carousel">
                        <div class="testimonial-carousel text-center">
                            <div class="testimonial-wrap">
                                <p class="lead">"Duis leo. Sed fringilla mauris sit amet nibh. Donec sodales sagittis magna. Sed consequat, leo eget bibendum sodales, augue velit cursus nunc, quis gravida magna mi a libero"</p>
                            </div>
                            <div class="media">
                                <img src="demos/client_01.jpg" alt="" class="img-circle img-responsive">
                            </div><!-- end entry -->
                            <div class="testimonial-names">
                                <h3>Filiz OZER</h3>
                                <a href="#" class="readmore">C0-Founder (JollyThemes)</a>
                            </div><!-- end testimonial-names -->
                        </div><!-- end testimonial-carousel -->
                        <div class="testimonial-carousel text-center">
                            <div class="testimonial-wrap">
                                <p class="lead">"Etiam sit amet orci eget eros faucibus tincidunt. Duis leo. Sed fringilla mauris sit amet nibh."</p>
                            </div>
                            <div class="media">
                                <img src="demos/client_01.jpg" alt="" class="img-circle img-responsive">
                            </div><!-- end entry -->
                            <div class="testimonial-names">
                                <h3>Filiz OZER</h3>
                                <a href="#" class="readmore">C0-Founder (JollyThemes)</a>
                            </div><!-- end testimonial-names -->
                        </div><!-- end testimonial-carousel -->
                    </div><!-- end owl-testimonial-widget -->
                </div><!-- end widget -->
            </div><!-- end col-lg-6 -->
        </div><!-- end container -->
    </section><!-- end grey-wrapper -->
    <section id="two-parallax" class="parallax" style="background-image: url('demos/parallax_08.jpg');" data-stellar-background-ratio="0.6" data-stellar-vertical-offset="20">
        <div class="overlay">
            <div class="container">
                <div class="stat f-container">
                    <div class="f-element col-lg-3 col-md-3 col-sm-6 col-xs-12">
                        <div class="milestone-counter">
                            <i class="fa fa-user fa-3x"></i>
                            <span class="highlight">1876</span>
                            <div class="milestone-details">Clients Working</div>
                        </div>
                    </div>
                    <div class="f-element col-lg-3 col-md-3 col-sm-6 col-xs-12">
                        <div class="milestone-counter">
                            <i class="fa fa-coffee fa-3x"></i>
                            <span class="highlight">176</span>
                            <div class="milestone-details">Cups of Coffee</div>
                        </div>
                    </div>
                    <div class="f-element col-lg-3 col-md-3 col-sm-6 col-xs-12">
                        <div class="milestone-counter">
                            <i class="fa fa-comment fa-3x"></i>
                            <span class="highlight">20000</span>
                            <div class="milestone-details">Topics Created</div>
                        </div>
                    </div>
                    <div class="f-element col-lg-3 col-md-3 col-sm-6 col-xs-12">
                        <div class="milestone-counter">
                            <i class="fa fa-camera fa-3x"></i>
                            <span class="highlight">232</span>
                            <div class="milestone-details">Photos Taken</div>
                        </div>
                    </div>
                </div><!-- stat -->
            </div><!-- end container -->
        </div><!-- end overlay -->
    </section><!-- end transparent-bg -->
<div class="z-liubai"></div>
 

<div id="copyrights">
        <div class="container">
            <div class="col-lg-5 col-md-6 col-sm-12">
                <div class="copyright-text">
                    <p>Copyright © 2014 - Designed by omooo Innovation</p>
                </div><!-- end copyright-text -->
            </div><!-- end widget -->
            <div class="col-lg-7 col-md-6 col-sm-12 clearfix">
                <div class="footer-menu">
                    <ul class="menu">
                        <!-- <li class="active"><a href="#">Home</a></li>
                        <li><a href="#">About</a></li>
                        <li><a href="#">products</a></li>
                        <li><a href="#">Solutions</a></li>
                        <li><a href="#">News</a></li>
                        <li><a href="contact.html">Contact</a></li> -->

                        <li class="active"><a href="#">首页</a></li>
                        <li><a href="#">关于我们</a></li>
                        <li><a href="#">产品展示</a></li>
                        <li><a href="#">解决方案</a></li>
                        <li><a href="#">新闻中心</a></li>
                        <li><a href="contact.html">联系我们</a></li>
                    </ul>
                </div>
            </div><!-- end large-7 --> 
        </div><!-- end container -->
    </div><!-- end copyrights -->
    
    <div class="dmtop">Scroll to Top</div>
        
  <!-- Main Scripts-->
  <script src="js/jquery.js"></script>
  <script src="js/bootstrap.min.js"></script>
  <script src="js/menu.js"></script>
  <script src="js/owl.carousel.min.js"></script>
  <script src="js/jquery.parallax-1.1.3.js"></script>
  <script src="js/jquery.simple-text-rotator.js"></script>
  <script src="js/wow.min.js"></script>
  <script src="js/custom.js"></script>
  
  <script src="js/jquery.isotope.min.js"></script>
  <script src="js/custom-portfolio.js"></script>

  <!-- SLIDER REVOLUTION 4.x SCRIPTS  -->
  <script type="text/javascript" src="rs-plugin/js/jquery.themepunch.plugins.min.js"></script>
  <script type="text/javascript" src="rs-plugin/js/jquery.themepunch.revolution.min.js"></script>
  <script type="text/javascript">
    var revapi;
    jQuery(document).ready(function() {
        revapi = jQuery('.tp-banner').revolution(
        {
            delay:9000,
            startwidth:1170,
            startheight:500,
            hideThumbs:10,
            fullWidth:"on",
            forceFullWidth:"on"
        });
    }); //ready
  </script>
      
  <!-- Royal Slider script files -->
  <script src="royalslider/jquery.easing-1.3.js"></script>
  <script src="royalslider/jquery.royalslider.min.js"></script>
  <script>
    jQuery(document).ready(function($) {
      var rsi = $('#slider-in-laptop').royalSlider({
        autoHeight: false,
        arrowsNav: false,
        fadeinLoadedSlide: false,
        controlNavigationSpacing: 0,
        controlNavigation: 'bullets',
        imageScaleMode: 'fill',
        imageAlignCenter: true,
        loop: false,
        loopRewind: false,
        numImagesToPreload: 6,
        keyboardNavEnabled: true,
        autoScaleSlider: true,  
        autoScaleSliderWidth: 486,     
        autoScaleSliderHeight: 315,
    
        /* size of all images http://help.dimsemenov.com/kb/royalslider-jquery-plugin-faq/adding-width-and-height-properties-to-images */
        imgWidth: 792,
        imgHeight: 479
    
      }).data('royalSlider');
      $('#slider-next').click(function() {
        rsi.next();
      });
      $('#slider-prev').click(function() {
        rsi.prev();
      });
    });
  </script>
  
    <!-- FlexSlider JavaScript
    ================================================== -->
    <script src="js/jquery.flexslider.js"></script>
    <script>
    (function($) {
      "use strict";
        $(window).load(function() {
            $('#aboutslider').flexslider({
                animation: "fade",
                controlNav: true,
                animationLoop: true,
                slideshow: true,
                sync: "#carousel"
            });
        });
    })(jQuery);
    </script>
  
  <!-- Demo Switcher JS -->
  <script type="text/javascript" src="switcher/js/fswit.js"></script>
  <script src="switcher/js/bootstrap-select.js"></script>
  
</body>
</html>