{template "header.html"}
<link href="{HOME_THEME_PATH}css/flexslider.css" rel="stylesheet"> 
</head>
<body>

<div class="animationload">
<div class="loader">Loading...</div>
</div>   
    {template "top.html"}    
    {template "nav.html"}  
    
    <section class="post-wrapper-top jt-shadow clearfix">
        <div class="container">
            <div class="col-lg-12">
                <h2>{$title}</h2>
                <ul class="breadcrumb pull-right">
                    <li><i class="fa fa-arrow-circle-left"></i>&nbsp;<a href="{CATEGORY.$catid.url}">{CATEGORY.$catid.name}</a>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;<i class="fa fa-arrow-circle-left"></i>&nbsp;<a href="{SITE_URL}">{om_block(20)}</a>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</li>
                   
                </ul>
            </div>
        </div>
    </section><!-- end post-wrapper-top -->
    
    <section class="blog-wrapper">
        <div class="container">
        {if $img}
            <div class="flexslider">
                 <ul class="slides">
                 {loop $img $i $t}
                        <li><img src="{dr_thumb($t.file)}" alt="" class="img-responsive"></li>
                 {/loop}      
                 </ul><!-- end slides --> 
                 <div class="post-type">
                        <i class="fa fa-camera"></i>
                 </div><!-- end pull-right -->   
            </div><!-- end post-slider --> 
        {/if}
            <div id="content" class="col-lg-8 col-md-8 col-sm-12 col-xs-12">
                <div class="row">
                   <div class="blog-masonry">
                        <div class="col-lg-12">
                            <div class="blog-carousel">
                                <div class="blog-carousel-header">
                                    <h2 class="zcenter">{$title}</h2>
                                    <div class="blog-carousel-meta">
                                        <span><i class="fa fa-calendar"></i> {$updatetime}</span>
                                        <!-- <span><i class="fa fa-comment"></i> <a href="#">03 Comments</a></span> -->
                                        <span><i class="fa fa-eye"></i> <a href="#">{dr_show_hits($id)} 次浏览</a></span>
                                        <span><i class="fa fa-user"></i> <a href="#">{$author}</a></span>
                                    </div><!-- end blog-carousel-meta -->
                                </div><!-- end blog-carousel-header -->
                                <div class="blog-carousel-desc">
                                    
                                        {$content}
                                        
                    
                                </div><!-- end blog-carousel-desc -->
                            </div><!-- end blog-carousel -->
                        </div><!-- end col-lg-12 -->
                    </div><!-- end blog-masonry -->                    
                </div><!-- end row --> 
            </div><!-- end content -->
            
                    <div id="sidebar" class="col-lg-4 col-md-4 col-sm-12 col-xs-12">
                       
        
                        <div class="widget">
                            <div class="title"><h2>类别</h2></div>
                            <ul class="nav nav-tabs nav-stacked">
                            {list action=category pid=$cat.pid return=c}
                                <li><a href="{$c.url}">{$c.name}</a></li>
                                
                              {/list}
                            </ul>                              
                        </div><!-- end widget -->
                    </div><!-- end left-sidebar -->
                    
        </div><!-- end container -->
    </section><!--end white-wrapper -->

    
    
        
{template "footer.html"}
  <script src="{HOME_THEME_PATH}js/jquery.flexslider.js"></script>
  <script type="text/javascript">
 (function($) {
      "use strict";
    $(window).load(function(){
      $('.flexslider').flexslider({
        animation: "fade",
        controlNav: false,
        start: function(slider){
          $('body').removeClass('loading');
        }
      });
    });
    })(jQuery);
  </script>

  

  <!-- Demo Switcher JS -->
  <script type="text/javascript" src="{HOME_THEME_PATH}switcher/js/fswit.js"></script>
  <script src="{HOME_THEME_PATH}switcher/js/bootstrap-select.js"></script>
 
</body>
</html>